.products-button-container{
    text-align:right;
}
.view-all-products-button{
    font-size:16px;
    padding:10px;
    margin:10px;
    background-color: #eebd42;
    border-width:0px;
    border-radius:10px;
    margin: 20px;
}
.input-container{
    margin:10px;
    text-align: center;
}

.input-feild{
    height:40px;
    width:30%;
    margin:20px;
}

.submit-button-container{

    text-align:center;
    
}
.submit-button{
    font-size:16px;
    padding:10px;
    margin:10px;
    background-color:#eebd42;
    border-width:0px;
    border-radius:10px;
    margin: 20px;
}
    
    

.error-message{
    color:red;
}

.success-message{
    color:green;
}

