.container{
    text-align:right;
}

.error-container{
    width:50%;
    font-size:20px;
    margin:auto;
    /* border:2px red solid; */
    text-align:center
}
.products-button{
    font-size:16px;
    padding:10px;
    margin:10px;
    background-color: #eebd42;
    border-width:0px;
    border-radius:10px;
    margin: 20px;
}
