
.notfound-page{
    color:red;
    margin:50px;
    text-align: center;

}

.button{
    font-size:16px;
    padding:20px;
    margin:20px;
    background-color: #eebd42;
    border-width:0px;
    border-radius:10px;
}
