.card-container{
    width:400px;
    max-height:85vh;
    background-color: #f7effb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
    border-radius:5px;
    box-shadow:1px 1px 9px black;
    
    /* border:3px green solid; */
}
.card-image-container{
    /* border:3px blue solid; */
    width:100%;
    height:25vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* flex-shrink:1; */
    
}

.card-image{
    height:25vh;
    width:50%;
}

.card-details-container{
    text-decoration: none;

    width:100%;
    max-height:60vh;
    /* height:30vh; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f7effb;
    padding:3px;
    flex-shrink:1;
    flex-wrap:wrap;
    text-align: cemter;

    /* border:3px black solid; */
}

/* .card-text-details-conatainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border:3px red solid;
    flex-shrink:1;
    
} */

.card-title{
    /* color:red; */
    font-size:20px;
    /* flex-shrink:1; */
    font-weight:bold;
    margin-bottom:10px;
    color:black;
    /* flex-grow:1; */

}

.card-category{
    /* flex-shrink:1; */
    font-family:"Roboto";
    /* flex-grow:1; */
    font-size:10px;
    margin-bottom:10px;
    color:black;
}

.card-description{
    /* flex-shrink:1; */
    font-size:12px;
    margin-bottom:10px;
    color:black;
    /* flex-grow:3;
    flex-shrink: 1; */
    color:black;
}

.card-price{
    font-size: 20px;
    color:red;
    margin-bottom:10px;
    text-align: center;
    /* flex-shrink:2;
    flex-grow:1; */
    margin:auto;
    /* border:3px green solid; */
}

.card-rating{
    font-size: 12px;
    text-align: center;
    color:green;
    /* flex-shrink:2;
    flex-grow:1; */
    /* border:3px green solid; */
    margin:auto;
}
.container-link{
    text-decoration: none;
}

@media screen and (max-width:500px){

    *{
        padding:0px;
        margin:0px;
        box-sizing: border-box;
    }
    
    .bg-container{
        width:100%;
        /* border:3px red solid; */
        background-color: #f0f2f5;
    }

    .dashboard-heading{
        text-align: center;
        color:red;
       
    }
    
    .products-container{
        width:100%;
        
        display:flex;
        justify-content: space-around;
        align-items: space-around;
        /* border:3px yellow solid; */
        flex-wrap:wrap;
        
    }
    
    .card-container{
        width:250px;
        max-height:65vh;
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        /* padding-top:10px;
        padding-bottom:10px; */
        margin-bottom:10px;
        
        /* border:3px green solid; */
    }
    .card-image-container{
        /* border:3px blue solid; */
        /* height:40vh; */
        width:100%;
        max-height:35vh;
        /* height:25vh; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-shrink:1;
        
    }
    
    .card-image{
        height:25vh;
        width:20vw;
    }
    
    .card-details-container{
        width:100%;
        /* height:25vh; */
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #f7effb;
        padding:3px;
        flex-shrink:1;
        /* flex-wrap:wrap; */
    
        /* border:3px black solid; */
    }
    
    .card-title{
        /* color:red; */
        font-size:10px;
        flex-shrink:1;
        font-weight:bold;
    }
    
    .card-category{
        flex-shrink:1;
        font-family:"Roboto";
        font-size:8px;
    }
    
    .card-description{
        /* flex-shrink:1; */
        font-size:7px;
    }
    
    .card-price{
        font-size: 15px;
        color:red;
        flex-shrink:1;
    }
    
    .card-rating{
        font-size: 10px;
        flex-shrink:1;
    }
}