.input-container{
    margin:10px;
    text-align: center;
}

.input-feild{
    height:40px;
    width:30%;
    margin:20px;
}

.submit-button-container{
    
    text-align:center;
    padding:20px;
    

    /* border:2px red solid; */
}