
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.bg-container{
    width:100%;
    /* border:3px red solid; */
    /* background-color: #8db0e6; */
}


.dashboard-heading{
    text-align: center;
    color:blue;
    margin:15px;
}

.add-product-button{
    text-align:center;
    
}

.search-input-container {
    width: 20%;
    /* margin-left: 400px;
    margin-bottom:50px; */
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-right: 12px;

    background-color: #f6f8fa;
    border: 1px #eef1f4 solid;
    /* border:2px green solid; */
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.search-input {
    margin-top: 10px;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: none;
    margin-left: 16px;
    outline: none;
    background-color: #f6f8fa;
    /* 
    border: 1px #eef1f4 solid; */

    /* border:2px green solid; */
}

.add-product-button-container{
    text-align:right;
    margin:10px;
}

.add-product-button{
    padding:10px;
    background-color: #64748b;
    color:white;
    border-width:0px;
    border-radius:10px;
}

.products-container{
    /* width:100%; */
    background-color: #f0f2f5;
    display:flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap:wrap;
    padding:10px;

    /* border:3px yellow solid; */
    
}


@media screen and (max-width:500px){
    *{
        padding:0px;
        margin:0px;
        box-sizing: border-box;
    }
    
    .bg-container{
        width:100%;
        /* border:1px red solid; */
        background-color: #f0f2f5;
    }

    .dashboard-heading{
        text-align: center;
        color:blue;
        /* border:2px red solid; */
        margin:0px;
        padding:0px;
        /* margin:20px;
        */
    }

    .products-page{
        /* border:2px blue solid; */
    }
    
    .products-container{
        margin-top:10px;
        width:100%;
        
        display:flex;
        justify-content: space-around;
        align-items: space-around;
        /* border:3px yellow solid; */
        flex-wrap:wrap;
        
    }

    .search-input-container {
        width: 80%;
        margin:auto;
        /* margin-left: 400px; */
        /* margin-bottom:50px; */
        display: flex;
        align-items: center;
        /* padding-top: 4px;
        padding-left: 12px;
        padding-bottom: 4px;
        padding-right: 12px; */
    
        background-color: #f6f8fa;
        border: 1px #eef1f4 solid;
        /* border:2px green solid; */
    }
    
    .search-icon {
        width: 24px;
        height: 24px;
        margin-top: 10px;
    }
    
    .search-input {
        margin-top: 10px;
        color: #64748b;
        font-family: 'Roboto';
        font-size: 20px;
        width: 100%;
        height: 40px;
        border: none;
        margin-left: 16px;
        outline: none;
        background-color: #f6f8fa;
        /* 
        border: 1px #eef1f4 solid; */
    
        /* border:2px green solid; */
    }
    

    
    
}